<p id="notice"><%= notice %></p>
<div class="title">
    <h1>Videos</h1>
</div>
<div class="table_new">
  <button class="ui blue basic button"><%= link_to 'New Video', new_video_path %></button>
<div>

  <tbody>
  <table class="ui celled table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Show Video </th>
      <th>Edit Video</th>
      <th>Destroy Video</th>
    </tr>
  </thead>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.description %></td>
        <td><%= link_to 'Show', "/videos/#{video.id}" %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




  