<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<div class="video">
<%= video_tag(url_for(@video.clip), style:' width:80%', controls:'') %>
</div>
<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>
<div class="path">
<%= link_to 'Edit', edit_video_path(@video) %> 
<%= link_to 'Back', videos_path %>
</div>