<p id="notice"><%= notice %></p>

<p>
  <strong><h3>Title:</h3></strong>
  <%= @video.title %>
</p>

<div class="video">
<%= video_tag(url_for(@video.clip), style:' width:80%', controls:'') %>
</div>
<p>
  <strong><h3>Description:</h3></strong>
  <%= @video.description %>
</p>
<div class="path">
<button class="ui blue basic button"><%= link_to 'Edit', edit_video_path(@video) %> </button>
<button class="ui blue basic button"><%= link_to 'Back', videos_path %></button>
</div>

